:root {
    --ICPP_accent_color: #5e4ce0;
    --ICPP_accent_filter: invert(50%) sepia(79%) saturate(7108%) hue-rotate(239deg) brightness(92%) contrast(90%);
}

.sidebar > .sidebar-controls {
    flex-direction: column;
}

.sidebar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: ew-resize;
}

.side-controls {
    align-items: center;
}

.ICPP_discoveryCounter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20px;
    padding-left: 12px;
    background-color: var(--ICPP_accent_color);
    color: white;
    font-weight: bold;
}

.ICPP_speedrunTimerMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--ICPP_accent_color);
    border-radius: 100%;
    cursor: pointer;
}

.ICPP_speedrunTimerMenuButton > img {
    max-width: 100%;
    filter: invert(100%);
    padding: 10px;
}

.ICPP_hidden {
    visibility: hidden;
}

.ICPP_timerMenuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 999rem;
    background-color: var(--ICPP_accent_color);
    color: white;
}

.ICPP_timerMenuContainer > input {
    height: 30px;
    border-radius: 999rem;
    border-width: 0;
    padding: 8px;
    font-size: 12pt;
}

.ICPP_timerMenuContainer > input:focus{
    outline-width: 1px;
    outline-color: lightgrey;
}

.ICPP_timerMenuContainer > span {
    font-size: 28pt;
}

.ICPP_timerMenuContainer > div {
    display: flex;
    cursor: pointer;
    padding: 20px;
}

.ICPP_timerMenuContainer > div > img {
    filter: invert(100%);
    padding: 10px;
    width: 40px;
}

.ICPP_particleToggle {
    display: flex;
    width: 20px;
    cursor: pointer;
    filter: var(--ICPP_accent_filter)
}